<br>
<h1>How long can I receive the goods?</h1>
<br>
<p>This depends on many factors including inventory, order confirmation and delivery address. Normally, you will receive the goods after 2-3 days of order confirmation (via text message or phone), it will be a little longer for the remote, suburban or hamlet provinces.</p> 
<p>Note: You can estimating when clicking <a href="shipping"><u><b>Shopping Cart</b></u></a></p>
<br>
<img src="https://cdn.shopify.com/s/files/1/0918/7930/products/Shipping.png?v=1529555048">

