<br>
<br>
<h1 id="title">The most frequently asked questions</h1>
<br>
<br>
<div id="container">
    <div id="left-container">
        <ul id="left-box">
            <li>
                <a href="/choose-size"><u>How can I choose the Shirt Size?</u></a>
            </li>
            <li>
                <a href="/material"><u>What is shirt material?</u></a>
            </li>
            <li>
                <a href="/choose-size"><u>How is the ship fee calculated?</u></a>
            </li>
            <li>
                <a href="/choose-size"><u>How long can I receive the goods?</u></a>
            </li>
            <li>
                <a href="/choose-size"><u>How can I pay for the order?</u></a>
            </li>
        </ul>
    </div>
  
    <div id="right-container">
        <div id="right-container">
            <ul id="right-box">
                <li>
                    <a href="/choose-size"><u>Instructions for washing clothes</u></a>
                </li>
                <li>
                    <a href="/choose-size"><u>Can I change my return?</u></a>
                </li>
                <li>
                    <a href="/choose-size"><u>Shopping guide</u></a>
                </li>
                <li>
                    <a href="/choose-size"><u>Past delivery time, why haven't I received the goods yet?</u></a>
                </li>
                <li>
                    <a href="/choose-size"><u>How to get free / support shipping fee?</u></a>
                </li>
            </ul>
        </div>
    </div>
  </div>