<div class="shipping-container">
  <div class="shipping-container-left">
    <div id="map"></div>
  </div>
  
  <div class="shipping-container-right">
      <div class="shipping-text-container">
          <h2 style="color:red">Shipping distance</h2>
          <h3>{{ distance }} km</h3>
      </div>

      <div class="shipping-text-container">
          <h2 style="color:red">Shipping cost</h2>
          <h3>24.000 VND</h3>
      </div>

      <div class="shipping-text-container">
          <h2 style="color:red">Total cost</h2>
          <h3>524.000 VND</h3>
      </div>

      <div class="calendar-container">
        <label for="shipping-date">Shipping date</label>
        <input type="date" name="shipping-date" id="shipping-date">
      </div>

      <a href="/cart">
        <button type="button" class="blue-button">Back to cart</button>
      </a>
      <p><br></p>
      
      <a href="/homepage">
        <button type="button" class="blue-button">Confirm</button>
      </a>
  </div>
  

  
</div>