<!-- <div class="shipping-container">
  <div class="shipping-container-left">
    <div id="map"></div>
  </div>
  
  <div class="shipping-container-right">
      <div class="shipping-text-container">
          <h2 style="color:red">Shipping distance</h2>
          <h3>{{ distance }} km</h3>
      </div>

      <div class="shipping-text-container">
          <h2 style="color:red">Shipping cost</h2>
          <h3>24.000 VND</h3>
      </div>

      <div class="shipping-text-container">
          <h2 style="color:red">Total cost</h2>
          <h3>524.000 VND</h3>
      </div>

      <div class="calendar-container">
        <label for="shipping-date">Shipping date</label>
        <input type="date" name="shipping-date" id="shipping-date">
      </div>

      <a href="/cart">
        <button type="button" class="blue-button">Back to cart</button>
      </a>
      <p><br></p>
      
      <a href="/homepage">
        <button type="button" class="blue-button">Confirm</button>
      </a>
  </div>
  

  
</div> -->

<div id="container">
  <div id="top-container">
    <div id="top-left-container">
      <ul id="progress-bar">
        <li class="passed">Cart</li>
        <li class="active">Shipping</li>
        <li>Billing</li>
      </ul>
    </div>
    <h1 id="top-right-container">
      SHIPPING
    </h1>
  </div>
  <div id="bottom-container">
    <div id="bottom-left-container">
      <div id="map"></div>
    </div>
  
    <div id="bottom-right-container">
      <div id="info-container">
        <div class="textbox">
          <h3>Distance</h3><h4>12km</h4>
        </div>
        <div class="textbox">
          <h3>Cost</h3>
          <h4>12.000 VND</h4>
        </div>
        <div class="textbox">
          <h3>Total</h3>
          <h4>24.000 VND</h4>
        </div>
        <div class="textbox">
          <h3>Date</h3>
          <h4>31/04/2019</h4>
        </div>
      </div>
  
      <div id="navigation-container">
        <button type="submit" id="back-nav">BACK</button>
        <button type="submit" id="confirm-nav">CONFIRM</button>
      </div>
    </div>
    
  </div>
</div>