/* @import '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '../../../node_modules/@mapbox/mapbox-gl-directions/dist/mapbox-gl-directions.css'; */

#container {
  width: 100%;
  height: 700px;
  margin: 0 1%;
}
/* Scaling for container */
#top-container, #bottom-container {
  width: 100%;
  display: flex;
}

#top-container {
  height: 20%;
}

#bottom-container {
  height: 80%;
}


#top-left-container,
#bottom-left-container {
  flex: 65%;
}

#top-right-container, 
#bottom-right-container {
  flex: 45%;
}

#top-left-container,
#top-right-container {
  text-align: center;
  margin: auto 0;
}

#info-container {
  height: 70%;
}

#navigation-container {
  height: 30%;
}

/*--- Title ---*/
h1#top-right-container {
  font-weight: bold;
}


/*--- Textbox ---*/
.textbox {
  width: 70%;
  margin: 5% auto;
  display: flex;
}

.textbox h3,
.textbox h4 {
  flex: 50%;
  display: inline;
}

.textbox h4 {
  border: 1px solid #333;
  background: #ededed;
  padding: 2% 5%;
}

/*--- MAP ---*/
#map {
  height: 100%;
}

/*--- NAVIGATION ---*/
#navigation-container {
  width: 70%;
  margin: 5% auto;
}

button#back-nav,
button#confirm-nav {
  width: 45%;
}

#navigation-container #back-nav {
  float: left;
}

#navigation-container #confirm-nav {
  float: right;
}

/*--- Progress dot ---*/
#progress-bar {
  counter-reset: step;
}

#progress-bar li {
  list-style-type: none;
  width: 33.3333%;
  float: left;
  text-align: center;
  color: #333;

  position: relative;
}

#progress-bar li:before {
  width: 30px;
  height: 30px;
  line-height: 30px;

  border-radius: 50%;
  border: 2px solid; 
  display: block;

  margin: 0 auto;

  text-align: center;
  background: #ededed;

  content: counter(step);
  counter-increment: step;
}

#progress-bar li:after {
  width: 100%;
  height: 3px;
  content: '';
  background: black;
  position: absolute;

  top: 25%;
  left: -50%;
  z-index: -1;
}

#progress-bar li:first-child::after {
  content: none;
}

#progress-bar li.passed {
  color: #00b6f6;
  font-weight: bold;
}

#progress-bar li.active:before, 
#progress-bar li.passed:before {
  border-color: #00b6f6;
  color: white;
  background: #00b6f6;
}

#progress-bar li.active {
  color: #00b6f6;
  font-weight: bold;
}

#progress-bar li.passed:after,
#progress-bar li.active:after {
  background-color: #00b6f6;
}

