<br>
<h1>What bank accounts can I transfer to pay for my order on the Kleider?</h1>
<br>
<p>Below is a list of bank accounts you can transfer or pay cash directly. Please note your order code when making a transfer or cash payment:</p>

<div id="bank">
        <p><b>Ngân hàng Vietcombank</b></p>
        <p>Chủ tài khoản: Công ty TNHH Ví FPT</p>
        <p>Số tài khoản: 0181003531707</p>
        <p>Chi nhánh: Nam Sài Gòn</p>
        <p>Thành phố: TP.HCM</p>
        
        <p><b>Ngân hàng Tienphongbank</b></p>
        <p>Chủ tài khoản: Công ty TNHH Ví FPT</p>
        <p>Số tài khoản: 88247247006</p>
        <p>Chi nhánh: Bến Thành</p>
        <p>Thành phố: TP.HCM</p>
        
        <p><b>Ngân hàng Sacombank</b></p>
        <p>Chủ tài khoản: Công ty TNHH Ví FPT</p>
        <p>Số tài khoản: 060143995693</p>
        <p>Chi nhánh: Thành phố Hồ Chí Minh</p>
        <p>Thành phố: TP.HCM</p>
</div>

