* {
    margin-right: 22%
}
h1, p, img {
    margin-left: 22%;
}

h1 {
    font-style: italic;
}

p {
    font-size: larger;
    line-height: 1.5
}

#bank{
    font-size: x-small
}

b {
    font-size: medium
}