<br>
<h1>Past delivery time, why haven't I received the goods yet?</h1>
<br>
<p>You should look up the delivery time by the following way:</p>
<br>
<ul>
    <li><b>Step 1:</b> Go to Check the order, enter the order number to look up.</li>
    <li><b>Step 2:</b> Click on the bill of lading code of the order, the system will link to the website of the shipping partner's lookup order, the system will show the details of your order delivery time.</li>
    <li>If you still have not received the goods by the due date, please contact 19006000 or email to hotro@hcmut.edu.vn for assistance</li>
</ul> 


