.big-container {
    width: 100%;
    min-height: 500px;
}

.container{
    position: relative;
    width: 90%;
    margin: 20px;
}
img{
    max-height: 400px;
    margin-left: 5px 5px 5px 5px;
}

.image, .product{
    position: absolute;
    display: inline;
}

.product{
    height: 20px;
    width: 100px;
    text-align: center;
    background-color: aqua;
    right: 0;
}

.ghichu,.pay{
    position: absolute;
    display: inline;
}

.ghichu{
    height: 100px;
    width: 400px;
    color: white;
    position: absolute;
    background-color: rgb(206, 193, 193);
}

.pay{
    right: 0;
}

.qty, .price{
    position: absolute;
    display: inline;
}

.price{
    right: 0;
}
.tshirt{
    font-weight: bold;
}

.item, .quanty{
    display: flex;
    flex-direction: row;
}
.item{
    background: #ededed;
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    padding: 0;
    text-align: center;
    width: 35px;
    border: 1px solid #dadbdd;
    border-left: none;
    border-right: none;
    border-radius: 0;
    float: left;
    -webkit-appearance: none;
}
.quanty{
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #abafb2;
    height: 25px;
    padding-left: 0;
    text-align: center;
    width: 25px;
    border: 1px solid #dadbdd;
    border-radius: 0;
    float: left;
    -webkit-appearance: none;
}

button{
    cursor: pointer;
}