

<div class="big-container">
    <div class="listproduct">
        <tbody>
            <tr>
                <td><img src="assets/images/1.png"></td>
                <td>
                    <a href="/pro-inf" class="tshirt">Saigon Vintage</a>
                    <p><span>250000d    </span></p>
                    <p class="variant">
                        <span>S / Black / T-shirt</span>
                    </p>
      
                    <div class="qty">
                            <button type="button" class="quanty" (click) = "sub()" >-</button>
                            <input type="text" size="4" name="updates[]" min="1" id="updates_1037942354" data-price="25000000" value="{{count}}" class="item">
                            <button type="button" class="quanty" (click) = "add()">+</button>
                    </div>
                    <p class="price">
                            <span class="text">Price:</span>
                            <span class="line-item-total">250,000₫</span>
                    </p>
                </td>
            </tr>
        </tbody>
      </div>
      
    <div class = "container">
        <div class="ghichu">
            <textarea class="ghichu" placeholder="Note here"></textarea>
        </div>
            
        <div class = "pay">
            <a href="/homepage"> <button type = "button"> Continue Shopping </button> </a>
            <a href="/shipping"> <button type="submit"> Buy </button> </a>
        </div>
    </div>
</div>
