<div id="top-container">
    <div id="top-left-container">
      <ul id="progress-bar">
        <li class="active">Cart</li>
        <li >Shipping</li>
        <li>Billing</li>
      </ul>
    </div>
    <h1 id="top-right-container">
      Shopping Cart
    </h1>
  </div>
<div class="big-container">
    <div class="listproduct">
        <tbody>
            <tr>
                <td><img src="assets/images/Vintage.png"></td>
                <td id = "product">
                    <a href="#" class="tshirt" >Saigon Vintage</a>
                    <p><span>250000d    </span></p>
                    <p class="variant">
                        <span>S / Black / T-shirt</span>
                    </p>
      
                    <div class="qty">
                            <button type="button" class="qtyminus qty-btn">-</button>
                            <input type="text" size="4" name="updates[]" min="1" id="updates_1037942354" data-price="25000000" value="1" class="tc line-item-qty item-quantity">
                            <button type="button" class="qtyplus qty-btn">+</button>
                    </div>
                    <p class="price">
                            <span class="text">Price:</span>
                            <span class="line-item-total">250,000₫</span>
                    </p>
                </td>
            </tr>
        </tbody>
      </div>
      
    <div class = "container">
        <div class="ghichu">
            <textarea class="ghichu" placeholder="Note here"></textarea>
        </div>
            
        <a href="/shipping">
            <button type="submit" class="pay">Buy</button>
        </a>
    </div>
</div>

