<br>
<h1>Shirt size table</h1>
<br>
<br>
<p>Product material: 100% Cotton (If any product needs other material, we will note immediately below the product)</p>


<img src="https://thecuriositybox.zendesk.com/hc/article_attachments/115013367208/Tshirt-Size-Options.jpg">

<!-- <div id="container">
    <div id="left-container">
      <div id="title-box">
        <h1>ABOUT</h1>
        <h2></h2>
      </div>
    </div>
  
    <div id="right-container">
      <div id="text-box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consectetur, amet dicta fugiat dolorum facere ut provident error id obcaecati. 
           Ipsa corrupti non magni sit quidem a omnis obcaecati nesciunt voluptas.</p>
      </div>
    </div>
  </div> -->