.pro-loop{
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center
}

.product1{
    height: 382px;
}

.pro-detail{
    font-weight: bold;
}


.container{
    padding-top: 5em;
    display: inline;
    display: flex;
    flex-direction: row;
}

.list{
    padding-left: 3em;
    /* font-weight: bold; */
}
