<div class = "container">
    <div class="pro-loop"> 
        <div class="product1">
            <div class="pro-img">
                <img src = "assets/images/1.png" title="real men dont cry" style="height: 300px;">
            </div>
            <div class="pro-detail">
                    <div class="box-pro-detail">
                        <h3 class="pro-name">
                            <a href="assets/images/dontcry" title="REAL MEN DON'T CRY"></a>
                        </h3>
                          <div class="list">
                              {{Product[0].Name}}
                              <br>
                          <div id = "sublist">{{Product[0].Price}}₫</div>
                      
                            <button class="button" (click)="addtoCart()"> Add to cart</button>
                          </div>
                    </div>
                </div>
        </div>
    </div>
  
    <div class="pro-loop">
        <div class="product2">
            <div class="pro-img">
                <img src = "assets/images/2.png" title="Vintage" style="height:300px"> 
            </div>
            <div class="pro-detail">
                    <div class="box-pro-detail">
                        <h3 class="pro-name">
                            <a href="assets/images/Vintage" title="Vintage Saigonese">
                            </a>
                        </h3>
                        <div class="list">
                              {{Product[1].Name}}
                              <br>
                          <div id = "sublist">{{Product[1].Price}}₫</div>
                      
                            <button> Add to cart</button>
                          </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="pro-loop">
            <div class="product3">
                <div class="pro-img">
                    <img src = "assets/images/3.png" title="Marvel Studios" style="height:300px"> 
                </div>
                <div class="pro-detail">
                    <div class="pro-detail">
                        <h3 class="pro-name">
                            <a href="assets/images/marvel" title="Marvel Studios"></a>
                        </h3>
                          {{Product[2].Name}}
                          <br>
                          <div id = "sublist">{{Product[2].Price}}₫</div>
                            <button> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="pro-loop">
            <div class="product4">
                <div class="pro-img">
                    <img src = "assets/images/4.png" title="Hotter Ex" style="height:300px"> 
                </div>
                <div class="pro-detail">
                    <div class="pro-detail">
                        <h3 class="pro-name">
                            <a href="assets/images/hotter" title="Hotter Ex"></a>
                        </h3>
                          {{Product[3].Name}}
                          <br>
                          <div id = "sublist">{{Product[3].Price}}₫</div>
                      <button> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
  
    
  </div>
  
  <div class="container">

        <div class="pro-loop">
                <div class="product5">
                    <div class="pro-img">
                        <img src = "assets/images/what.png" title="Do what u want" style="height:300px"> 
                    </div>
                    <div class="pro-detail">
                        <div class="pro-detail">
                            <h3 class="pro-name">
                                <a href="assets/images/what" title="Do what u want"></a>
                            </h3>
                            {{Product[4].Name}}
                            <br>
                            <div id = "sublist">{{Product[4].Price}}₫</div>
                        <button> Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="pro-loop">
            <div class="product5">
                <div class="pro-img">
                    <img src = "assets/images/Lisa.png" title="Monalisa" style="height:300px"> 
                </div>
                <div class="pro-detail">
                    <div class="pro-detail">
                          <h3 class="pro-name">
                              <a href="assets/images/Lisa" title="Monalisa"></a>
                          </h3>
                          {{Product[5].Name}}
                          <br>
                          <div id = "sublist">{{Product[5].Price}}₫</div>
                          <button> Add to cart</button>
                       </div>
                  </div>
        </div>
    </div>
  
    <div class="pro-loop">
            <div class="product6">
                <div class="pro-img">
                    <img src = "assets/images/thanos.jpg" title="Thanos hand" style="height:300px"> 
                </div>
                <div class="pro-detail">
                    <div class="pro-detail">
                        <h3 class="pro-name">
                            <a href="assets/images/thanos" title="Thanos hand"></a>
                        </h3>
                        {{Product[6].Name}}
                        <br>
                        <div id = "sublist">{{Product[6].Price}}₫</div>
                    <button> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
  
  </div>