<div class = "container">
  <div class="pro-loop"> 
      <div class="product1">
          <div class="pro-img">
              <img src = "assets/images/dontcry.png" title="real men dont cry" style="height: 300px;">
          </div>
          <div class="pro-detail">
                  <div class="box-pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/dontcry" title="REAL MEN DON'T CRY">
                              REAL MEN DON'T CRY
                          </a>
                      </h3>
                      <div class="box-pro-prices">	
                          <p class="pro-price ">250,000₫
                              <span class="pro-price-del"></span>
                          </p>
                          <button> Add to cart</button>
                      </div>
                  </div>
              </div>
      </div>
  </div>

  <div class="pro-loop">
      <div class="product2">
          <div class="pro-img">
              <img src = "assets/images/Vintage.png" title="Vintage" style="height:300px"> 
          </div>
          <div class="pro-detail">
                  <div class="box-pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/Vintage" title="Vintage Saigonese">
                              Vintage Saigonese
                          </a>
                      </h3>
                      <div class="box-pro-prices">	
                          <p class="pro-price ">150,000₫
                              <span class="pro-price-del"></span>
                          </p>
                          <button> Add to cart</button>
                      </div>
              </div>
          </div>
      </div>
  </div>

  <div class="pro-loop">
          <div class="product3">
              <div class="pro-img">
                  <img src = "assets/images/marvel.png" title="Marvel Studios" style="height:300px"> 
              </div>
              <div class="pro-detail">
                  <div class="pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/marvel" title="Marvel Studios">
                                  Marvel Studios
                          </a>
                      </h3>
                  <div class="box-pro-prices">	
                      <p class="pro-price ">350,000₫
                          <span class="pro-price-del"></span>
                      </p>
                      <button> Add to cart</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="pro-loop">
          <div class="product4">
              <div class="pro-img">
                  <img src = "assets/images/hotter.png" title="Hotter Ex" style="height:300px"> 
              </div>
              <div class="pro-detail">
                  <div class="pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/hotter" title="Hotter Ex">
                                  Hotter Ur Ex
                          </a>
                      </h3>
                  <div class="box-pro-prices">	
                      <p class="pro-price ">550,000₫
                          <span class="pro-price-del"></span>
                      </p>
                      <button> Add to cart</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="pro-loop">
          <div class="product5">
              <div class="pro-img">
                  <img src = "assets/images/what.png" title="Do what u want" style="height:300px"> 
              </div>
              <div class="pro-detail">
                  <div class="pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/what" title="Do what u want">
                              Do what u want
                          </a>
                      </h3>
                  <div class="box-pro-prices">	
                      <p class="pro-price ">750,000₫
                          <span class="pro-price-del"></span>
                      </p>
                      <button> Add to cart</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="pro-loop">
          <div class="product5">
              <div class="pro-img">
                  <img src = "assets/images/Lisa.png" title="Monalisa" style="height:300px"> 
              </div>
              <div class="pro-detail">
                  <div class="pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/Lisa" title="Monalisa">
                              Monday Lisa
                          </a>
                      </h3>
                  <div class="box-pro-prices">	
                      <p class="pro-price ">650,000₫
                          <span class="pro-price-del"></span>
                      </p>
                      <button> Add to cart</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="pro-loop">
          <div class="product6">
              <div class="pro-img">
                  <img src = "assets/images/thanos.jpg" title="Thanos hand" style="height:300px"> 
              </div>
              <div class="pro-detail">
                  <div class="pro-detail">
                      <h3 class="pro-name">
                          <a href="assets/images/thanos" title="Thanos hand">
                              Thanos hand
                          </a>
                      </h3>
                  <div class="box-pro-prices">	
                      <p class="pro-price ">450,000₫
                          <span class="pro-price-del"></span>
                      </p>
                      <button> Add to cart</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>