<br>
<h1>Shopping Guide:</h1>
<br>
<p>Please follow the steps below to sign up for a purchase on the Kleider website:</p>
<br>
<img src = "assets/images/steps.png" style="margin-left: 15%">
<br>
<p><b>Step 1: Access</b>Access to the website <a href="/main-page">Kleider</a> to find the items you want to buy in the following ways:</p>
<ul>
    <li>Using the search engine, type the name of the product you want to buy</li>
    <li>View <a href="/main-page">Kleider</a> products</li>
    <li>Refer to <b>"New Product"</b></li>
    <li>Refer to <b>"Best Seller"</b></li>
    <li>Refer to <b>"Design Style"</b></li>
</ul>
<img src = "assets/images/outline.png" style="height:300px">
<br>
<br>
<p><b>Step 2: Cart</b></p>
<ul>
    <li>Click on the button <b>"Add to cart"</b> to add item into your <a href="/cart"><b>Shopping Cart</b></a></li>
    <li><b>Note: Make sure you loged in before adding item into your shopping cart</b></li>
</ul>

<br>
<img src = "assets/images/cart.png" style="height:300px">
<br>
<br>
<p><b>Step 3: Shipping </b></p>
<ul>
    <li>Click on the button <b>"Buy"</b> and you will access Step Shipping</li>
    <li>Here, you are able to estimate your <b>Shipping fee</b> before paying</li>
</ul>


