<br>
<h1>Shopping Guide:</h1>
<br>
<p>Please follow the steps below to sign up for a purchase on the Kleider website:</p>
<br>
<p><b>Step 1: </b>Access to the website <a href="/main-page">Kleider</a> to find the items you want to buy in the following ways:</p>
<ul>
    <li>Using the search engine, type the name of the product you want to buy</li>
    <li>View <a href="/main-page">Kleider</a> products</li>
    <li>Refer to <b>"New Product"</b></li>
    <li>Refer to <b>"Best Seller"</b></li>
    <li>Refer to <b>"Design Style"</b></li>
    <img src="./picture/outline.jpg">
</ul>





