<div class="header-wrap">
    <a href="/homepage">
        <h1 id="site-name">Kleider</h1>
    </a>
    
    <div class="header-wrap-icon">
        <div class="search-container">
            <label>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search.." name="search" #search formControlName="searchtext" maxlength="30">
                <!-- <button type="submit" routerLink="search-result" (click)="sendSearch(search.value)" alt="search-icon" title="Search">
                    <i class="fa fa-search" routerLink="search-result" (click)="sendSearch(search.value)"></i>
                </button> -->
                <button type="submit" routerLink="search-result" (click)="sendSearch(searchForm.searchtext)" alt="search-icon" title="Search">
                    <i class="fa fa-search" routerLink="search-result" (click)="sendSearch(searchForm.searchtext)"></i>
                </button>
            </form>
            </label>
        </div>

        <a href="/cart">
            <img id="cart-icon" src="assets/images/shopping-cart.png" alt="cart-icon" title="Your cart">
        </a>
            
        <a href="/login">
            <img id="account-icon" src="assets/images/account-icon.png" alt="account icon" title="Account">
        </a>
    </div>
    
</div>
<!-- <router-outlet></router-outlet> -->