

.header-wrap{
    background-color: white;
    /* color: #ffffff; */
    text-align: center;
    padding: 35px;
}

.header-wrap a{
    text-decoration: none;
}

#site-name{
    font-size: 40px;
    color: black;
    font-family: brigest-script;
    letter-spacing: 5px;
    font-size: 60px;
}

h1#site-name {
    display: inline;
}

.header-wrap-icon {
    width: 30%;
    height: 30px;
    margin-left: 70%;
    display: flex;
    justify-content: space-between;
}

/* -------------
SEARCH BOX
---------------*/
.search-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    background: #ededed;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/*-------- END OF SEARCH BOX -----------*/

img#cart-icon {
    width: 30px;
    height: 30px;
    top: 15px;
}

img#account-icon {
    width: 30px;
    height: 30px;
    top: 15px;
}


