.header-wrap{
    background-color: white;
    /* color: #ffffff; */
    text-align: center;
    padding-top: 35px;
    border-bottom: 0.05px solid #ededed;
}

.header-wrap a{
    text-decoration: none;
}

#site-name{
    font-size: 40px;
    color: black;
    font-family: brigest-script;
    letter-spacing: 5px;
    font-size: 60px;
    padding: 0;
}

h1#site-name {
    display: inline;
}

img#account-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
}

img#search-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
}

img#cart-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
}

.header-wrap-icon {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 31px;
    margin-left: 90%;
}
