<div class="container">
  <div class="registername">
          <h1>Register</h1>
          <h2></h2>
  </div>

  <div class="register-box">
    <div class="register-form-container">
        <div class="textbox">
            <input type="text" placeholder="First name"  id="firstname">
        </div>

        <div class="textbox">
            <input type="text" placeholder="Last name"  id="lastname">
        </div>

        <div class="gender-choice-container">
            <p class="gender-choice">
                <input type="radio" id="male" name="radio">
                <label for="male">Male</label>
            </p>

            <p class="gender-choice">
                <input type="radio" id="female" name="radio">
                <label for="female">Female</label>       
            </p>
        </div>
        
        <div class="textbox">
            <input type="date" placeholder="mm/dd/yy"  id="birthday">
        </div>

        
        <div class="textbox">
            <input type="text" placeholder="Email"  id="email">
        </div>

        
        <div class="textbox">
            <input type="password" placeholder="Password"  id="password">
        </div>

        <div class="register-button-container">
            <a href="/homepage">
                <button type="submit">Register</button>
            </a>
            <div>
                <a class="come-back" href="/homepage"><i class="fa fa-long-arrow-left"></i> Home Page</a>
            </div> 
        </div>
    </div>
  </div>
</div>